[submodule "Drivers/Components/ism330dhcx"]
	path = Drivers/Components/ism330dhcx
	url = https://github.com/STMicroelectronics/stm32-ism330dhcx.git
[submodule "Drivers/Components/Common"]
	path = Drivers/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
[submodule "Drivers/Components/b-u585i-iot02a-bsp"]
	path = Drivers/Components/b-u585i-iot02a-bsp
	url = https://github.com/STMicroelectronics/b-u585i-iot02a-bsp.git
[submodule "Drivers/Components/iis2mdc"]
	path = Drivers/Components/iis2mdc
	url = https://github.com/STMicroelectronics/stm32-iis2mdc.git
[submodule "Drivers/CMSIS-DSP"]
	path = Drivers/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "Test/Unity"]
	path = Test/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "Drivers/Components/mx25lm51245g"]
	path = Drivers/Components/mx25lm51245g
	url = git@github.com:Rich143/stm32-mx25lm51245g.git
[submodule "Drivers/Components/aps6408"]
	path = Drivers/Components/aps6408
	url = https://github.com/STMicroelectronics/stm32-aps6408.git
[submodule "Drivers/Components/wb-at-client"]
	path = Drivers/Components/wb-at-client
	url = https://github.com/STMicroelectronics/stm32-wb-at.git
